<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>Rock, Paper, Scissors Game</title>
    </head>
    <body>
        <div class="container">
            <h1>Rock Paper Scissors</h1>

            <form action="/results" method='post'>
                <label for='player1'>Player 1's choice:</label>
                <input id='player1' name='player1' type='text'>

                <label for='player2'>Player 2's choice:</label>
                <input id='player2' name='player2' type='text'>

                <button type='submit' class='btn-success'>Play!</button>
        </div>
    </body>
</html>
